html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  padding: 2vw;
}

/* skip link */
.skip {
  position: absolute;
  left: 50%;
  transform: translateY(-100%);
  transition: transform 0s;
  outline: none;
}

a.skip:active,
a.skip:focus,
a.skip:hover {
  transform: translateY(0%);
  left: 1rem;
  top: 1rem;
  width: auto;
  height: auto;
  overflow: visible;
  transition: transform 0.25s;
}

/* navbar */

.navbar {
  padding: 1.5rem;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 8vh;
  background-color: #333;
  color: white;
  margin-bottom: 1rem;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo h1 {
  font-size: 1.2em;
}

.logo img {
  height: 4vh;
  width: 4vh;
}

nav li {
  list-style: none;
  display: block;
  padding: 0.5em 0;
}

header a {
  color: white;
  background-color: #333;
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  letter-spacing: 2px;
  text-decoration: none;
  display: inline-block;
}

nav li:hover a,
header a:focus {
  color: #333;
  background-color: white;
  border-radius: 10px;
  outline: none;
}

@media screen and (min-width: 70rem) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
  }

  .navbar ul {
    display: flex;
    justify-content: space-around;
    width: 50%;
    max-width: 40rem;
  }

  header a {
    padding: 1.5rem;
  }
}
